# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment configurations
.env

# OS
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project custom
.agents/
logs/
